# Importing Modules

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Dataframe

In [21]:
train_df = pd.read_csv("./Dataset/train.csv")
test_df = pd.read_csv("./Dataset/test.csv")
sample_df = pd.read_csv("./Dataset/sample_submission.csv")

In [3]:
train_df

       UID col_0   col_1 col_2 col_3  col_4 col_5 col_6       y
0        0   A 0      B0    C2    D1    100    E1    F2  237000
1        1    A1      B0   C11    D4    100    E4    F2   86193
2        2    A0      B0   C18    D0      0    E0    F2  169200
3        3    A2      B0   C11    D1    100    E1    F2   58000
4        4    A0      B0   C67    D1      0    E1    F2  235000
...    ...   ...     ...   ...   ...    ...   ...   ...     ...
2623  2623    A1      B0    C2    D1      0    E1    F2  102100
2624  2624    A0   B0       C8    D1      0    E1    F2  129300
2625  2625    A0      BO    C7    D1    100    E1    F2  275300
2626  2626    A0      B0   C11    D1    100    E1    F2  150000
2627  2627    A0      B0    C2    D1    100    E1    F2  191475

[2628 rows x 9 columns]

In [4]:
test_df

       UID col_0 col_1 col_2 col_3  col_4 col_5 col_6
0     2628    A0    B0   C11    D1    100    E1    F2
1     2629    A0    B0   C11    D1      0    E1    F2
2     2630    A0    B0   C11    D1    100    E1    F2
3     2631    A0    B0   C26    D1    100    E1    F0
4     2632    A0    B0   C11    D1    100    E1   NaN
...    ...   ...   ...   ...   ...    ...   ...   ...
1122  3750    A0    B0    C4    D1    100    E1   NaN
1123  3751    A1    B0   C34    D1      0    E1    F2
1124  3752    A2   B 0    C4    D1      0    E1    F2
1125  3753    A0    B0    C2    D1    100    E1    F2
1126  3754    A0    B0   C11    D1      0    E1    F2

[1127 rows x 8 columns]

In [6]:
sample_df

       UID       y
0     2628  344410
1     2629  309902
2     2630   48906
3     2631  107017
4     2632  316349
...    ...     ...
1122  3750  192954
1123  3751   70169
1124  3752  340055
1125  3753  246650
1126  3754  207011

[1127 rows x 2 columns]

In [10]:
train_df.isnull().sum().sum()

337

In [12]:
train_df.isnull().sum()

UID        0
col_0    139
col_1     86
col_2      0
col_3      0
col_4      0
col_5      0
col_6    112
y          0
dtype: int64

In [29]:
train_df = pd.read_csv("./Dataset/train.csv")
train_df

       UID col_0   col_1 col_2 col_3  col_4 col_5 col_6       y
0        0   A 0      B0    C2    D1    100    E1    F2  237000
1        1    A1      B0   C11    D4    100    E4    F2   86193
2        2    A0      B0   C18    D0      0    E0    F2  169200
3        3    A2      B0   C11    D1    100    E1    F2   58000
4        4    A0      B0   C67    D1      0    E1    F2  235000
...    ...   ...     ...   ...   ...    ...   ...   ...     ...
2623  2623    A1      B0    C2    D1      0    E1    F2  102100
2624  2624    A0   B0       C8    D1      0    E1    F2  129300
2625  2625    A0      BO    C7    D1    100    E1    F2  275300
2626  2626    A0      B0   C11    D1    100    E1    F2  150000
2627  2627    A0      B0    C2    D1    100    E1    F2  191475

[2628 rows x 9 columns]

In [30]:
train_df['col_0'] = train_df['col_0'].str.replace(r"[oO0]","0",regex=True).str.replace(r"\s+", "", regex=True).str.strip().str.upper()
train_df

       UID col_0   col_1 col_2 col_3  col_4 col_5 col_6       y
0        0    A0      B0    C2    D1    100    E1    F2  237000
1        1    A1      B0   C11    D4    100    E4    F2   86193
2        2    A0      B0   C18    D0      0    E0    F2  169200
3        3    A2      B0   C11    D1    100    E1    F2   58000
4        4    A0      B0   C67    D1      0    E1    F2  235000
...    ...   ...     ...   ...   ...    ...   ...   ...     ...
2623  2623    A1      B0    C2    D1      0    E1    F2  102100
2624  2624    A0   B0       C8    D1      0    E1    F2  129300
2625  2625    A0      BO    C7    D1    100    E1    F2  275300
2626  2626    A0      B0   C11    D1    100    E1    F2  150000
2627  2627    A0      B0    C2    D1    100    E1    F2  191475

[2628 rows x 9 columns]

In [34]:
train_df['col_0'].value_counts()

A0    1679
A1     542
A2     195
A3      73
Name: col_0, dtype: int64

In [35]:
train_df['col_0'] = train_df['col_0'].fillna('A0')

In [42]:
train_df['col_1'] = train_df['col_1'].str.replace(r'\s+', '', regex=True).str.strip().str.replace(r'[oO]','0',regex=True)

In [43]:
train_df['col_1'].value_counts()

B0    2518
B3      11
B2       7
B1       6
Name: col_1, dtype: int64

In [44]:
train_df.isnull().sum()

UID        0
col_0      0
col_1     86
col_2      0
col_3      0
col_4      0
col_5      0
col_6    112
y          0
dtype: int64

In [45]:
train_df['col_1'] = train_df['col_1'].fillna('B0')

In [46]:
train_df.isnull().sum()

UID        0
col_0      0
col_1      0
col_2      0
col_3      0
col_4      0
col_5      0
col_6    112
y          0
dtype: int64

In [49]:
train_df['col_6'].value_counts()

F2        1976
F0         286
F1          97
F 2         46
F2          43
 F2         39
F0           7
F 0          6
 F0          6
FO           4
F 1          3
F1           2
 F1          1
Name: col_6, dtype: int64

In [50]:
train_df['col_6'] = train_df['col_6'].str.replace(r'\s+', '', regex=True).str.strip().str.replace(r'[oO]','0',regex=True)

In [51]:
train_df['col_6'].value_counts()

F2    2104
F0     309
F1     103
Name: col_6, dtype: int64

In [52]:
train_df['col_6'].isnull().sum()

112

In [53]:
train_df['col_6'] = train_df['col_6'].fillna('F2')

In [54]:
train_df['col_6'].value_counts()

F2    2216
F0     309
F1     103
Name: col_6, dtype: int64

In [55]:
train_df.to_csv("modified_train.csv")

In [56]:
train_df.isnull().sum()

UID      0
col_0    0
col_1    0
col_2    0
col_3    0
col_4    0
col_5    0
col_6    0
y        0
dtype: int64